{% extends 'base.html' %}
{% load comment_tags %}
{% block category %}
active
{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="ljdh">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">版块信息</a></li>
                <li><a href="#">{{ category_name }}</a></li>

            </ol>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="anniu">
                    <button class="btn btn-primary">全部</button>
                    <div class=" btn-group dropup" id="change_drop">
                    <button type="button" id="comment_btn" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        评论量
                        <span id="carer">
                            <i class="iconfont icon-shangxiajiantou" style="font-size: 1px"></i>
                        </span>
                    </button>

                    </div>
                    <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        主题 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for theme in theme_list %}
                        <li><a href="{% url 'categorydetail' %}?name={{ category_name }}&theme={{ theme.id }}">{{ theme.name }}</a></li>
                        {% endfor %}

                    </ul>
                    </div>

                </div>
                 {% for post in post_list %}
                    <div class="card">
                        <div class="card-body">
                            <img src="/static/imgs/avatar.png" alt="" class="img-circle">
                            <h5><a href="{% url 'postdetail' post.id %}" class="text-decoration-none">{{ post.title }}</a></h5>
                            <div class="detail">
                                <span class="glyphicon glyphicon-user" style="color: #7f7f7f"></span>
                                <span> {{ post.author }}</span>
                                <span style="margin-left: 1em">发表于 {{ post.created_time|date:"Y-m-d H:i" }}</span>
                                <i class="iconfont icon-pinglun"></i>
                                <span> {% get_comment_count post %}</span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    这个版块还没人发帖
                {% endfor %}

            </div>
            <div class="col-md-3">
                <a  href="{% url 'publish' %}" class="btn bg-primary btn-block" style="margin-top: 3.5em">发布帖子</a>
                <div class="card cate-card">
                    <div class="card-cont">
                        <div class="card-title">所在版块: {{ category_name }}</div>
                        <div class="row" style="margin: 1em;">
                            <div class="col-md-6" style="margin-bottom: 1em">
                                <div>主题数</div>
                                <div>{{ category_detail.theme_set.count }}</div>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 1em">
                                <div>帖子数</div>
                                <div>{{ category_detail.post_num }}</div>
                            </div>
                            <div class="col-md-6">
                                <div>今日发帖</div>
                                <div>0</div>
                            </div>
                            <div class="col-md-6">
                                <div>今日阅读</div>
                                <div>0</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    $('#comment_btn').click(function () {
        $('#carer').text('').addClass('caret');
        $('#change_drop').removeClass('dropup').addClass('dropdown');
        window.location.href='{% url 'categorydetail' %}?name={{ category_name }}&comment=true';




    })
    </script>
{% endblock %}