{% extends 'base.html' %}
{% load comment_tags %}
{% block category %}
active
{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="ljdh">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li><a href="{% url 'category' %}">版块信息</a></li>
                <li><span>{{ category_name }}</span></li>

            </ol>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="anniu">
                    <a href="{% url 'categorydetail' %}?name={{ category_name }}" class="btn btn-primary">全部</a>
                    <div class=" btn-group {{ comment_label }}">
                    <a href="{% url 'categorydetail' %}?name={{ category_name }}&comment={{ comment_order }}" id="comment_btn" class="btn btn-primary dropdown-toggle" >
                        评论量
                        <span class="caret"></span>
                    </a>

                    </div>
                    <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        主题 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for theme in theme_list %}
                        <li><a href="{% url 'categorydetail' %}?name={{ category_name }}&theme={{ theme.id }}">{{ theme.name }}</a></li>
                        {% endfor %}

                    </ul>
                    </div>

                </div>

                 {% include 'bbs/post_list.html' %}

            </div>
            <div class="col-md-3">
                <a  href="{% url 'publish' %}" class="btn bg-primary btn-block" style="margin-top: 3.5em">发布帖子</a>
                <div class="card cate-card">
                    <div class="card-cont">
                        <div class="card-title">所在版块: {{ category_name }}</div>
                        <hr>
                        <div class="row" style="margin: 1em;">
                            <div class="col-md-6" style="margin-bottom: 1em;text-align: center">
                                <div>主题数</div>
                                <div>{{ category_detail.theme_set.count }}</div>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 1em;text-align: center">
                                <div>帖子数</div>
                                <div>{{ category_detail.post_set.count }}</div>
                            </div>
                            <div class="col-md-6" style="text-align: center">
                                <div>今日发帖</div>
                                <div>{{ today_post }}</div>
                            </div>
                            <div class="col-md-6" style="text-align: center">
                                <div>本月发帖</div>
                                <div>{{ month_post }}</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>

{% endblock %}