{% extends 'base.html' %}

{% block category %}
active
{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="ljdh">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">版块信息</a></li>
                <li><a href="#">{{ category_name }}</a></li>

            </ol>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="anniu">
                    <button class="btn bg-primary">全部</button>
                    <button class="btn bg-primary">热度</button>
                    <button class="btn bg-primary">评论量</button>

                </div>
                 {% for post in post_list %}
                    <div class="card">
                        <div class="card-body">
                            <img src="/static/imgs/avatar.png" alt="" class="img-circle">
                            <h5><a href="{% url 'postdetail' post.id %}" class="text-decoration-none">{{ post.title }}</a></h5>
                            <div class="detail">
                                <span class="glyphicon glyphicon-user" style="color: #7f7f7f"></span>
                                <span>
                                    {% if post.author.name %}
                                        {{ post.author }}
                                    {% else %}
                                        {{ post.author.user.username }}
                                    {% endif %}
                                </span>
                                <span style="margin-left: 1em">发表于 {{ post.created_time|date:"Y-m-d H:i" }}</span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    这个版块还没人发帖
                {% endfor %}

            </div>
            <div class="col-md-3">
                <a  href="{% url 'publish' %}" class="btn bg-primary btn-block" style="margin-top: 3.5em">发布帖子</a>
                <div class="card cate-card">
                    <div class="card-cont">
                        <div class="card-title">所在版块: {{ category_name }}</div>
                        <div class="row" style="margin: 1em;">
                            <div class="col-md-6" style="margin-bottom: 1em">
                                <div>主题数</div>
                                <div>{{ category_detail.theme_set.count }}</div>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 1em">
                                <div>帖子数</div>
                                <div>{{ category_detail.post_num }}</div>
                            </div>
                            <div class="col-md-6">
                                <div>今日发帖</div>
                                <div>0</div>
                            </div>
                            <div class="col-md-6">
                                <div>今日阅读</div>
                                <div>0</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}