{% extends 'base.html' %}
{% load comment_tags %}
{% block title %}
河西学院BBS站|首页
{% endblock %}
{% block index %}
active
{% endblock %}
{% block content %}
    <div class="container-fluid">

        <div class="col-sm-9">
            {% include 'bbs/post_list.html' %}

        </div>

        <div class="col-sm-3">
            <div class="publish"><a href="{% url 'publish' %}" class="btn bg-primary btn-block">发布帖子</a></div>

            <div class="list-group">

                <a href="#" class="list-group-item disabled">
                    <span class="glyphicon glyphicon-tags"></span>
                    热门版块
                </a>
                {% for category in category_list %}
                    <a href="" class="list-group-item">{{ category.name }}</a>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>

{% endblock %}