{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% block title %}
河西学院BBS站|帖子详情
{% endblock %}
{% block style %}

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <style>
    p {
    margin: 10px 0 15px;
    }
    img{
        max-width: 500px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="postcard">
                    <div class="post-title">
                        <h3>{{ post.title }}</h3>
                        <div class="post-other">
                            <span class="glyphicon glyphicon-user" style="color: #7f7f7f"></span>
                            <span>{% if post.author.name %}
                                    {{ post.author }}
                                  {% else %}
                                    {{ post.author.user }}
                            {% endif %}
                            </span>
                            <span>发表时间 {{ post.created_time|date:'Y-m-d H:i' }}</span>
                            <span>{{ post.category }}</span>
                            <span>评论 {% get_comment_count post %} </span>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content">
                        {{ post.content|safe }}
                    </div>
                    <div class="post-like">
                        <button class="btn btn-info">
                            <i class="iconfont icon-dianzan"></i>
                            <span>128</span>
                        </button>
                        <button class="btn btn-info"><i class="iconfont icon-cai"></i>
                            <span>123</span>
                        </button>
                    </div>
                    <hr>
                    <div class="post-comment">
                        <h4>发表评论</h4>
                        {% if request.user.is_authenticated %}
                            <form id="comment_form" action="{% url 'update_comment' %}" method="post">
                                <div class="login-comment">
                                <div id="reply_content_container" style="display: none">
                                    <p>回复：</p>
                                    <div id="reply_content"></div>
                                </div>
                                        {% csrf_token %}
                                        {% for field in comment_form %}
                                            {{ field }}
                                        {% endfor %}
                                        <div id="comment_error" class="text-danger"></div>
{#                                        <textarea name="text" id="comment-text" class="form-control"></textarea>#}
{#                                        <input type="hidden" name="object_id" value="{{ post.id }}">#}
{#                                        <input type="hidden" name="content_type" value="post">#}
                                </div>
                                <div class="comment-button">
                                    <button  type="submit" class="btn btn-success">发表评论</button>
                                </div>
                            </form>
                        {% else %}
                            <div class="not-login-comment">
                                <div>请先 <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="btn btn-primary">登录</a> 后发表评论</div>
                            </div>
                            <div class="comment-button">
                                <button class="btn btn-success disabled">发表评论</button>
                            </div>
                        {% endif %}

                        <div style="clear: both"></div>
                    </div>
                    <hr>
                    <div class="comment-list">
                        <h4>评论列表</h4>
                        <div id="comment_list">
                            {% for comment in comments %}
                                <div id="root_{{ comment.id }}" class="comment-content">
                                    <img src="/static/imgs/default.png" alt="" class="img-circle comment-head-img">
                                    <div class="comment-user">{{ comment.user.name }}</div>
                                    <div id="comment_{{ comment.id }}" class="comment-detail">{{ comment.text|safe }}</div>
                                    <div class="comment-date">
                                        <span>{{ comment.comment_time|date:'Y-m-d H:i' }}</span>
                                        <span><a href="javascript:reply({{ comment.id }})">回复</a></span>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                                {% for reply in comment.root_comment.all %}
                                    <div class="reply-content">
                                        <img src="/static/imgs/default.png" alt="" class="img-circle reply-head-img">
                                        <div class="reply-user-detail">
                                            <span>{{ reply.user.name }} 回复 {{ reply.reply_to.name }}:</span>
                                            <span id="comment_{{ reply.id }}">{{ reply.text|safe }}</span>
                                        </div>
                                        <div class="reply-date">
                                            <span>{{ reply.comment_time|date:'Y-m-d H:i' }}</span>
                                            <span><a href="javascript:reply({{ reply.id }})">回复</a></span>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                {% endfor %}
                                <hr>
                            {% empty %}
                                <span id="no_comment">暂无评论</span>
                            {% endfor %}
                        </div>
                    </div>




{#                        <div class="comment-content">#}
{#                            <img src="/static/imgs/default.png" alt="" class="img-circle">#}
{#                            <div class="comment-user">这是评论姓名</div>#}
{#                            <div class="comment-detail">这是评论内容</div>#}
{#                            <div class="comment-date">2020-3-10 17:27</div>#}
{#                            <div><hr></div>#}
{#                            <div style="clear: both"></div>#}
{#                        </div>#}

                    </div>

                </div>


            <div class="col-md-3">
                <div class="card card-post">
                    <div class="card-cont">
                        <div class="card-title"><img src="/static/imgs/default.png" alt="" class="img-circle"></div>
                        <div class="row" style="margin: 1em;">


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
<script>
    $('#comment_form').submit(function () {
        //判断是否为空
        $('#comment_error').text('');
        if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
            $('#comment_error').text('评论内容不能为空');
            return false;
        }
        // 更新数据到 textarea
        CKEDITOR.instances['id_text'].updateElement();
        // 异步提交
        $.ajax({
            url: "{% url 'update_comment' %}",
            type: 'POST',
            data: $(this).serialize(),
            cache: false,
            success: function (data) {
                console.log(data);
                if(data['status'] =='SUCCESS'){
                    // 插入数据
                    if($('#reply_comment_id').val()=='0'){
                        // 插入评论
                        var comment_html = '<div id="root_'+data['pk']+'">\n' +
                    '                                    <img src="/static/imgs/default.png" alt="" class="img-circle comment-head-img">\n' +
                    '                                    <div class="comment-user" style="margin-left:8em;margin-bottom:0.5em">'+data['user_name']+'</div>\n' +
                    '                                    <div id="comment_'+data['pk']+'" class="comment-detail" style="margin-left:8em;margin-bottom:0.5em">'+data['text']+'</div>\n' +
                    '                                    <div class="comment-date">\n' +
                    '                                        <span>'+data['comment_time']+'</span>\n' +
                    '                                        <span><a href="javascript:reply('+data['pk']+')">回复</a></span>\n' +
                    '                                    </div>\n' +
                    '                                    <div style="clear: both"></div>\n' +
                    '                                </div><hr>';
                    $('#comment_list').prepend(comment_html);
                    $('#comment_error').text('评论成功')

                    }else{
                        // 插入回复
                        var reply_html = '<div >\n' +
                        '                                        <img src="/static/imgs/default.png" alt="" class="img-circle reply-head-img">\n' +
                        '                                        <div class="reply-user-detail" style="margin-left:10em">\n' +
                        '                                            <span>'+data['user_name']+' 回复 '+data['reply_to']+':</span>\n' +
                        '                                            <span id="comment_'+data['pk']+'">'+data['text']+'</span>\n' +
                        '                                        </div>\n' +
                        '                                        <div class="reply-date">\n' +
                        '                                            <span>'+data['comment_time']+'</span>\n' +
                        '                                            <span><a href="javascript:reply('+data['pk']+')">回复</a></span>\n' +
                        '                                        </div>\n' +
                        '                                        <div style="clear: both"></div>\n' +
                        '                                    </div>';
                        $("#root_"+data['root_pk']).append(reply_html)
                        $('#comment_error').text('回复成功')

                    }

                    // 清空编辑框内容
                    CKEDITOR.instances['id_text'].setData('');
                    $('#reply_content_container').hide();
                    $('#reply_comment_id').val('0');
                    $('#no_comment').remove();

                }else{
                    // 显示错误信息
                    $('#comment_error').text(data['message'])
                }

            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
        return false;
    });
    function reply(reply_comment_id) {
        $('#comment_error').text('');
        // s设置回复父级id值
        $('#reply_comment_id').val(reply_comment_id);
        var html = $('#comment_'+ reply_comment_id).html();
        $('#reply_content').html(html);
        $('#reply_content_container').show();
        $('html').animate({scrollTop:$('#comment_form').offset().top-100}, 300, function () {
            CKEDITOR.instances['id_text'].focus()
        })
    }
</script>
{% endblock %}