{% extends 'base.html' %}
{% load static %}
{% block style %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>


{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <div class="publish-post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">发新帖</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="post">
                            {% csrf_token %}
                                <div class="cate-choice">
                                    <span>版块：</span>
                                    <select class="form-group" id="post-category" name="post-category">
                                        <option value="">请选择发布到哪个版块</option>
                                        {% for category in category_list %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="theme-choice">
                                    <span>主题：</span>
                                    <select class="form-group" id="post-theme" name="post-theme">

                                    </select>
                                </div>
                                <div style="clear: both"></div>
                                <div class="publish-title">
                                    <label style="float: left">标题:</label>
                                    <input type="text" id="post-title" class="form-control" name="post-title">
                                </div>
                                <div class="publish-content">
                                    <label style="float: left">内容：</label>
                                    {{ pubform.media }}
                                    {{ pubform.as_p }}
                                    <script>
                                        CKEDITOR.on('dialogDefinition', function(ev) {
                                            var dd = ev.data.definition;

                                            if(ev.data.name == 'image') {
                                                dd.onLoad = function () {
                                                    var dialog = CKEDITOR.dialog.getCurrent();
                                                    // make upload default tab
                                                    this.selectPage('Upload');
                                                    // hide unwanted tab
                                                    dialog.hidePage( 'Link' );
                                                    dialog.hidePage( 'advanced' );
                                                    dialog.hidePage('info');

                                                    var uploadTab = dd.getContents('Upload');
                                                    var uploadButton = uploadTab.get('uploadButton');
                                                    uploadButton['filebrowser']['onSelect'] = function( fileUrl, errorMessage ) {
                                                        dialog.getContentElement('info', 'txtUrl').setValue(fileUrl);
                                                        $(".cke_dialog_ui_button_ok span").click();
                                                    }
                                                };
                                            }
                                        })
                                    </script>
                                </div>

                                <div class="publish-button">
                                    <span id="error_publish" style="margin-right: 4em;color: red"></span>
                                    <button class="btn - btn-success" id="confirm_btn">确定发表</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>

        </div>

    </div>

{% endblock %}

{% block script %}
    <script>
        $('#post-category').change(function () {
            var category_id = $(this).val();
            if(category_id==''){
                $('#post-theme').html('');
                return false
            }
            console.log(category_id);
            $.ajax({
                url: '/linked/?category_id='+category_id,
                type: 'get',
                data: '',
                success:function (data) {
                    {#console.log(data['theme_list']);#}
                    var theme_content = '';
                    for (var i in data['theme_list']){
                        {#console.log(data['theme_list'][i]['name']);#}
                        theme_content +='<option value="'+data['theme_list'][i]['name']+'">'+data['theme_list'][i]['name']+'</option>';

                    }
                    {#console.log(theme_content)#}
                    $('#post-theme').html(theme_content)

                },
                error:function (xhr) {
                    console.log(xhr)
                }
            })
        })
    </script>
    <script>
    $('#confirm_btn').click(function () {
        var cate = $('#post-category').val();
        var title = $('#post-title').val();
        if(cate==''){
            $('#error_publish').text('版块，主题不能为空');
            return false
        }
        else if(title.trim()==''){
            $('#error_publish').text('标题不能为空');
            return false
        }
        else if(CKEDITOR.instances['id_content'].document.getBody().getText().trim()==''){
            $('#error_publish').text('内容不能为空');
            return false;
        }


    })
    </script>
{% endblock %}