{% extends 'base.html' %}
{% load userinfo_tag %}
{% block title %}
河西学院论坛|个人中心
{% endblock %}
{% block style %}
    <style>
    body{
        background-image: url("/static/imgs/bg.jpg");
    }
    .userinfo-head img{
        width: 100px;
        height: 100px;
    }
    .info div{
        margin-bottom: 2em;
    }
    .info div input{
        width: 300px;
    }
    textarea{
        margin-bottom: -5.5em;
        width: 270px!important;
        height: 90px!important;
    }
    #img_detail{
        width: 150px;
        height: 150px;
    }
    .user-post{
        height: 120px;
        border-bottom: 1px solid #fff0ff;
    }
    </style>


{% endblock %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h4>{{ user_info.name }} 的个人资料</h4>
                    <hr>
                </div>
                {% if request.user.userprofile.name == name %}

                <div class="row">
                    <div class="col-md-3">
                        <div class="userinfo-head" style="margin-left: 1em">
                            <img src="/media/head_img/{{ user_info.image }}" alt="" class="img-circle" id="img-show" data-toggle="tooltip" data-placement="bottom" title="点击更换头像">
                            <div style="margin-top: 1em;margin-left: 0.5em"><button class="btn btn-info" id="img-btn">修改头像</button></div>
                            <input type="file" id="img-upload" style="display: none;" onchange="uploadimg()">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="info show" id="info">
                            <div>
                                昵称 : {{ user_info.name }}
                                <a class="pull-right text-decoration-none" href="javascript:change_info()">修改资料</a>
                            </div>
                            <div>
                                个性签名 : {{ user_info.signature|info_is_none }}
                            </div>
                            <div>
                                性别 :{{ user_info.gender|info_gender }}
                            </div>
                            <div>
                                学院 : {{ user_info.college|info_is_none }}
                            </div>
                            <div>
                                班级 : {{ user_info.grade|info_is_none }}
                            </div>
                        </div>
                        
                        <div class="info hidden" id="modify_info">
                            <form action="">
                                {% csrf_token %}
                            <div>
                                <span>昵称：</span>
                                <label>
                                    <input type="text" value="{{ user_info.name }}" class="form-control" id="nickname">

                                </label>
                                 <span id="error_nickname" class="text-danger" style="margin-left: 1em"></span>
{#                                <a class="pull-right text-decoration-none" href="">修改资料</a>#}
                            </div>
                            <div>
                                <span>个性签名：</span>
                                <label>
                                    <textarea class="form-control"  id="signature"></textarea>
                                </label>
                            </div>

                            <div style="margin-top: 6em">
                                <span>性别：</span>
                                <label class="radio-inline">
                                    <input type="radio" value="1" name="gender">男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="0" name="gender">女
                                </label>

                            </div>
                            <div>
                                <span>学院：</span>
                                <label>
                                    <input type="text" value="{{ user_info.college|info_is_none }}" class="form-control" id="college">
                                </label>
                            </div>
                            <div>
                                <span>班级：</span>
                                <label>
                                    <input type="text" value="{{ user_info.grade|info_is_none }}" class="form-control" id="grade">
                                </label>
                            </div>
                            <div>
                                <a class="btn btn-default" style="margin-left: 5em" href="javascript:cancel_modify()">取消</a>
                                <a class="btn btn-danger" style="margin-left: 3em" href="javascript:confirm_modify()">确定修改</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <div class="info show" id="info">
                                <div>
                                    昵称 : {{ user_info.name }}
                                </div>
                                <div>
                                    个性签名 : {{ user_info.signature|info_is_none }}
                                </div>
                                <div>
                                    性别 :{{ user_info.gender|info_gender }}
                                </div>
                                <div>
                                    学院 : {{ user_info.college|info_is_none }}
                                </div>
                                <div>
                                    班级 : {{ user_info.grade|info_is_none }}
                                </div>
                            </div>

                        </div>
                    </div>
            {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h4 >{{ user_info.name }} 发布的帖子</h4>
                    {% if new_page > 0 %}
                        <div style="float: right;margin-top: -2em"><a href="{% url 'userinfo' %}?name={{ name }}&page={{ new_page }}">返回上一页</a></div>

                    {% endif %}

                    <hr>

                </div>
{#                {% for post in user_info.post_set.all %}#}
{#                    <div class="user-post">#}
{#                        <div class="user-info-title">#}
{#                            <span class="label label-default">{{ post.theme }}</span>#}
{#                            {{ post.title }}#}
{#                        </div>#}
{#                        <div class="user-info-content">{{ post.content|safe|striptags|truncatechars:60 }}...</div>#}
{#                        <div class="user-info-date">#}
{#                            <span>{{ post.created_time }}</span>#}
{#                            <span>点击({{ post.read_num }})</span>#}
{#                            <span>评论({{ post.comment_count }})</span>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
                {% include 'userinfo/user_info_post.html' %}

                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="text-align: center;">
                    <img src="/media/head_img/{{ user_info.image }}" alt="" class="img-circle" id="img_detail">
                    <h4>{{ user_info.name }}</h4>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-xs-4" style="border-right: 1px solid #fff0ff;text-align: center">
                        <div>{{ user_info.post_set.count }}</div>
                        <div>发布</div>

                    </div>
                    <div class="col-xs-4" style="border-right: 1px solid #fff0ff;text-align: center">
                        <div>{{ liked_count }}</div>
                        <div>获赞</div>
                    </div>
                    <div class="col-xs-4" style="text-align: center">
                        <div>{{ user_info.comments.count }}</div>
                        <div>评论</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>热门帖子</h4>
                <hr>
                {% for hot in hot_post %}
                 <div style="padding: 0.5em">
                     <span>{{ hot.title|truncatechars:'20' }}</span>
                     <p style="color: #99a2aa; margin-top: 0.5em;">点击 {{ hot.read_num }}</p>
                 </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="del_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">删除帖子</h4>
                </div>
                <div class="modal-body">确认删除帖子，删除后不能恢复</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a href="" id="confirm_del" class="btn btn-primary">确定删除</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block script %}
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 1
        });</script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();

        })
    </script>
    <script>
    $('#img-show').click(function () {
        $('#img-upload').click()
    });
    $('#img-btn').click(function () {
        $('#img-upload').click()
    })
    function uploadimg() {
        var img_file = $('#img-upload')[0].files[0];
        console.log(img_file.name);
        var reader_file = new FileReader();
        reader_file.readAsDataURL(img_file);
        reader_file.onload = function (ev) {
            $('#img-show').attr('src', ev.target.result);
            $('#img_detail').attr('src', ev.target.result);
            var formdata = new FormData();
            formdata.append('img_name', img_file.name);
            formdata.append('img_file', img_file);
            formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                url: '{% url 'modify_img' %}',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                success: function(data) {
                    alert(data);
                }
            })
        }


    }
    </script>
    <script>
    function change_info() {
        $('#info').removeClass('show').addClass('hidden');
        $('#signature').val('{{ user_info.signature|info_is_none }}');
        $('#modify_info').removeClass('hidden').addClass('show');
    }
    function cancel_modify() {
        $('#modify_info').removeClass('show').addClass('hidden');
        $('#info').removeClass('hidden').addClass('show');
        return false
    }
    </script>
    <script>
    function confirm_modify() {
        var nickname = $('#nickname').val();
        var signature = $('#signature').val();
        var gender = $("input[name='gender']:checked").val();
        var grade = $('#grade').val();
        var college = $('#college').val();
        if ($.trim(nickname)==''){
            $('#error_nickname').text('昵称不能为空');
            return false
        }
        else{
            $.ajax({
                url:'{% url 'modify_info' %}',
                type: 'POST',
                data: {'userprofile': '{{ request.user.userprofile }}',
                        'nickname':nickname,
                        'signature':signature,
                        'gender':gender,
                        'grade':grade,
                        'college':college,
                        'csrfmiddlewaretoken':'{{ csrf_token }}'},
                dataType:'json',
                success:function (data) {
                    console.log(data)
                    if (data['status']==200){
                        window.location.href = "{% url 'userinfo' %}?name="+nickname
                    }

                }

            });

        }

    }
    function del_post(id) {
        $('#confirm_del').click(function () {
            $.ajax({
                url:'{% url 'del_post' %}?post='+id,
                type:'get',
                data:'',
                success:function (data) {
                    {#console.log(data)#}
                    {#alert('删除成功')#}
                },
                error:function (error) {

                }
            }
            );

        })
    }
    </script>
{% endblock %}